@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
:root {
    /* font-size  */
    --fs-sm: 14px;
    --fs-md: 14px;
    --fs-lg: 22px;
    --fs-xl:16px;
    --fs-xxl: 28px;
   --fs-xxl-1: 32px;
    /* font-family */
    --ff-Rubik: 'Rubik', sans-serif;
    /* color */
    --orange: #F36A3E;
    --white: #FAFAFA;
    --black: #000000;
    --black-2: #323232;
    --black-3:#333333;
    --white-2: #FFF;
    --gray: #E5E5E5;
   --gray-2: #F9F9F9;
   --grey-3:#e2e2e2;
}

.ff-Rubik {
    font-family: var(--ff-Rubik);
}


/* color */

.text_white {
    color: var(--white);
}

.black {
    color: var(--black) !important;
}

.color_orange {
    color: var(--orange);
}

.black_light {
    color: var(--black-2);
}

.gray {
    color: var(--gray);
}

.gray-2 {
    background-color: var(--gray-2);
}
.gray-3 {
   color: var(--grey-3);
}

.bg_black {
    background-color: var(--black);
}
.black-3{
    color: var(--black-3);
}


/* font-size */

.fs-sm {
    font-size: var(--fs-sm);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs-md {
    font-size: var(--fs-md) !important;
}
.fs-xl{
    font-size: var(--fs-xl);
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.--fs-xxl-1 {
    font-size: var(--fs-xxl-1);
}


/* media-quary */

@media (min-width:576px) {
     :root {
        /* font-size  */
        --fs-sm: 16px;
        --fs-md: 16px;
        --fs-lg: 22px;
        --fs-md: 20px;
        --fs-xxl: 30px;
       --fs-xxl-1: 40px;
    }
}

@media (min-width:768px) {
     :root {
        /* font-size  */
        --fs-sm: 16px;
        --fs-lg: 22px;
       --fs-xxl-1: 40px;
    }
}

@media (min-width:992px) {
     :root {
        /* font-size  */
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 22px;
        --fs-md: 24px;
        --fs-xxl: 40px;
       --fs-xxl-1: 52px;
    }
}

@media (min-width:1200px) {
     :root {
        /* font-size  */
        --fs-sm: 16px;
        --fs-md: 20px;
        --fs-lg: 22px;
        --fs-md: 24px;
        --fs-xxl: 40px;
    }
}